- @background = @artists.shuffle.first.background

.fancy-header
  .fancy-wrap
    %h1 Artists

.row
  - @artists.each do |artist|
    .four.columns{ :style => 'float: left;' }
      .album-wrap
        .album-image{ :style => "background: url(#{artist.image}) center center; box-shadow: 0px 0px 5px #222; opacity: 0.4;"}
        .album-title
          %h5= link_to(artist.name, artist)