%br
%p= link_to('Personal', @url)
%p= link_to('Home', somethingnew_path) # THIS IS THE PERMANENT PATH TO THIS URL
= button_to('Submit', '/', :class => 'btn')

= button_to('Destroy', 'http://www.example.com', :confirm => 'Are you sure?',
          :method => "delete", :remote => true, :disable_with => 'loading...')