%h1{ :style => 'color: #222; font-size: 24px; padding: 20px; background: #EFEFEF;' }= "Greetings earthling #{@user.email}"
%p We're sending you a new email. This one is decidedly less weird.
%p Maybe.
