.galaxy
.row
  .large-6.columns.large-centered
    %h1{ class: 'hero' } Nerd Fl<span>i</span>rt
    .sign-in-links
      = render :partial => 'sign_in_links'
    #new
.row
  .content
    = render :partial => 'subscriptions/index'