<!DOCTYPE html>
<html>
<head>
  <title>StockMovie20130211</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <div class="main">
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/movie">Movie</a></li>
    <li><a href="/stock">Stocks</a></li>
  </ul>
</nav>

    <%= yield %>
  </div>
</div>

</body>
</html>
