html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

li
{
  list-style-type: none;
}

.hide
{
  display: hidden;
}

.priority
{
  float: left;
}

.color
{
  border: 1px solid black;
  width: 20px;
  height: 20px;
  margin: 0px 5px 5px 5px;
  border-radius: 5px;
}

.color:hover
{
  border: 1px solid #ffffff;
}

.clear
{
  clear: both;
}

#map
{
  height: 100%;
}

#map_canvas
{
  width: 100%;
  height: 280px;
}

.task_form {
  padding-top: 20px;
}

.one_task {
  text-align: center;
  padding: 5px;
  margin: 5px 20px;
}

.completed {
  text-decoration: line-through;
  color: #aaa;
}