.container {
  #large-image {
    min-height: 300px;
    background-size: cover;
    background-position: center;
  }
  .wrapper {
    width: 600px;
    margin: 0 auto;
  }
}
.box {
  margin: 5px;
  background-size: cover;
  display: inline-block;
}