$('.sign-in-links').prepend('<a href="/login" class="button" data-remote="true">Login</a>');
$('.sign-in-links').prepend('<a href="/subscribers/new" class="button" data-remote="true">Register</a>');
$('.nav-wrap').empty().append('<%=j render :partial => 'layouts/nav' %>');